#background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    filter: brightness(0.9);
    z-index: -2;
}

@font-face {
    font-family: ReiMoo;
    src: url('https://cdn.jsdelivr.net/gh/zjkimin/hakurei-reimu-cn/assets/css/fonts/DFKoIn-W4-WIN-RKSJ-H-01.ttf');
}


@keyframes float {
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0px,15px);
    }
    100%{
        transform: translate(0,0);
    }
}

#text {
    position: fixed;
    /* text-align: center; */
    width: 100%;
    bottom: 50%;
    left: 0%;
    font-family: ReiMoo;
}

#mtitle {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 50%;
    font-size: 400%;
    color: white;
    text-shadow: 0 0 13px pink;
    animation: float 2s ease-in-out 0s infinite normal;
}

#Moe {
    position: fixed;
    width: 100%;
    bottom: 40%;
    left: 61%;
    font-size: 150%;
    color: wheat;
    text-shadow: 0 0 5px pink;
    animation: float 2s ease-in-out 0s infinite normal;
}

@media only screen and (max-width:690px) {
    #Moe {
        text-align: center;
        left: unset;
    }
}

@media only screen and (min-width:690px) {
    #Moe {
        left: 61%;
    }
}